!!!
%html
  %head
    %title MIT <<EPROM>>
    %meta(charset="utf-8")
    %meta(name="description" content="MIT Entrepreneurial Programming Researh on Mobile phones")
    = stylesheet_link_tag :all
    
  %body
    #container
      #header
      
      #content
        = yield